/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ////GENERAL */
/* TYPO */
body{
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
/* ////TYPO */
/* SPACING */
/* header nav{
    height: 60px;
} */
/* ////SPACING */
/* COLORS */
.general-bgr{
    background-color: #1a1a1a;
}
.white{
    color: white;
}
/* ////COLORS */
/* HEADER */
header nav{
    justify-content: space-between;
    align-items: center;
}
header nav .item.sx .protect{
    color: green;
    padding: 5px;
}
header nav .item.sx .recording{
    vertical-align: middle;
    padding: 10px;
}
header nav .item.sx> *{
    margin: 5px 0 5px 5px;
}
header nav .item.dx> *{
    margin: 5px 5px 5px 0;
}
header nav .item.sx > *{
    background-color: #101010;
}
header nav .item > *{
    border-radius: 5px;
    padding: 10px;
    background-color: #212122;
}
/* ////HEADER */
/* MAIN */
main .flex{
    margin: auto;
    max-width: 1600px;
    flex-wrap: wrap;
    justify-content: center;
}
main .flex .item{
    width: calc(20% - ( 30px / 5 ) );
    margin: 3px;
    height: calc((100vh - 150px) / 5);   /*DA AGGIUSTARE************************************************************/
    background-color: pink;    
    border: 1px solid;
    border-radius: 10px;
}
/* ////MAIN */
/* FOOTER */
/* ////FOOTER */