/* GENERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ////GENERAL */
/* TYPO */
body{
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
/* ////TYPO */
/* SPACING */
/* header nav{
    height: 60px;
} */
/* ////SPACING */
/* COLORS */
.general-bgr{
    background-color: #1a1a1a;
}
.white{
    color: white;
}
/* ////COLORS */
/* HEADER */
header nav{
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
header nav .item.sx .protect{
    color: green;
    padding: 5px;
}
header nav .item.sx .recording{
    vertical-align: middle;
    padding: 10px;
}
header nav .item.sx> *{
    margin: 5px 0 5px 5px;
}
header nav .item.dx> *{
    margin: 5px 5px 5px 0;
}
header nav .item.sx > *{
    background-color: #101010;
}
header nav .item > *{
    border-radius: 5px;
    padding: 10px;
    background-color: #212122;
}
/* ////HEADER */
/* MAIN */
main .flex{
    margin: auto;
    max-width: 1600px;
    flex-wrap: wrap;
    justify-content: center;
}
main .flex .item{
    width: calc(20% - ( 30px / 5 ) );
    margin: 3px;
    height: calc((100vh - 150px) / 5 );   /*150 = 60+60 dell'header e footer +30px dei margin sommati*/
    border-radius: 10px;
    overflow: hidden;
}
main .flex .item .name{
    bottom: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    border-radius: 4px;
}
main .flex .item img{
    width: 100%;
    display: block;
    object-position: center -100px;
    /* object-fit: cover; */
}
main .flex .item .name::before{
    content: "\f131";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 600;
    color:rgba(255,0, 0, 0.7);
}
main .change-page{
    height: 70px;
    width: 40px;
    flex-direction: column-reverse;
    top: 50%;
    transform: translate(0, -50%);
    left: 10px;
    background-color: #070707;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    color: lightslategray;
    font-size: 13px;
    border: solid 1px black;
}
main .change-page i{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #2dbaff;
}
/* ////MAIN */
/* FOOTER */
footer .flex{
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px;
    font-size: 13px;
    background-color: #252729;
    color: #aaaaab;
}
footer .flex .items{
    /* height: 10px;
    width: 10px; */
    /* background-color: coral; */
}
footer .flex .items .end{
    border-radius: 5px;
    padding: 3px 10px;
    text-decoration: none;
    color: white;
    background-color: red;
}
/* ////FOOTER */